
html, body{
    background-color:#232323;
    box-sizing:border-box;
    overflow-x:hidden;
}

.home-page{
    box-sizing:border-box;
    width:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#232323;
    color:white;
    display:flex;
    flex-direction: column;
}

.workout-page{
    height:100%;
    width:100%;
    color:white;
    display:flex;
    flex-direction: column;
}


.workout-date-container
{
    justify-content:center;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:1.75em;
    padding-bottom: 30px;
}
.workout-date-container h1{
    font-size:1.8m;
    margin:40px 0px;
    font-weight:bold;
    padding-right:55px;
}

#workout-date-input{
    width:250px;
}

.add-workout-form{
    margin-bottom:40px;
}
.workouts{
    display:flex;
    flex-direction:column;
    margin: 15px 0;
}

.workout-line > label{
    font-size:1.9em;
    font-weight:bold;
}


.input-container{
    margin:22px;
    padding:5px;
    width:70px;
    border-radius:10px;
    color:white;
    background-color: transparent;
    border: 1px solid white;
}
#exercise-input{
    width:400px;
}

.add-button{
    /* width:140px; */
    margin-right:10px;
    color:rgb(142, 135, 135);
    border-radius:50%;
    color:white;
    width:30px;
    height:30px;
}

.add-button:hover{
    cursor:pointer;
}

.delete-button{
    margin-left:40px;
    color:red;
    border:none;
    height:30px;
    width:30px;
    margin-right:20px;
}
.delete-button:hover{
    cursor:pointer;
}

.submit-button{
    /* background-color:rgb(108, 108, 250); */
    background-color: #1DB954; 
    color:white;
    border:none;
    padding:7px;
    font-size:1.25em;
    border-radius: 8px;
    padding: 7px 14px;

}

.delete-set{
    margin-left: 30px;
    height:30px;
    width:30px;
    color:red
}
.delete-set:hover{
    cursor:pointer;
}

.sets{
    padding-left:50px;
    display:flex;
    align-items:center;
    gap:30px;
}

.add-set{
    background-color:rgb(108, 108, 250);
    color: #FFFFFF; /* White text color */
    border: none;
    border-radius: 8px; /* Rounded corners */
    padding: 7px 14px; /* Top/Bottom and Left/Right padding */
    font-size: 16px; /* Font size for the text */
    font-weight: bold; /* Bold text */

}

.set-title{
    font-size:1.4em;
}
.set-inputs>label{
    font-size:1.2em;
}
