body{
    margin:0;
    padding:0;
}
.registration-page{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/workout-background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    /* display:flex; */
    /* justify-content:left; */
}

.registration-box{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding:30px;
    color:white;
    


}

.registration-box > h1{
    font-size:2.25em;
}

.registration-form > h3{
    font-size:0.9em;
}

.login-link{
    color:white;
}


.workout-header{
    font-size: 1.6em;
    padding:15px;
    padding-left:22px;
    display:inline-block;
    color:white;


}

.registration-form{
    display:inline-flex;
    flex-direction:column;
}

.registration-form > label{
    padding: 5px 0px;

}
.username-input, .password-input{
    color:white;
    border-radius:10px;
    background: rgba(78, 73, 73, 0.3);
    border:0.5px solid white;
    padding-left:10px;
    height:35px;
    width:240px;
}
.username-input:hover, .password-input:hover{
    cursor:text;
    background: rgba(78, 73, 73, 0.6);
}

::placeholder{
    color:white;
}

.register-button{
    height:40px;
    border-radius: 50px;
    border: 0.5px solid white;
    background:rgb(4, 117, 230);
    color:white;
    width:255px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:12px;
}
    

.register-button:hover {
    background-color: #0c5094;
}

.register-button:active {
    background-color: #0358a8;
}
.registration-button-container{
    padding-top:20px;
}
.registration-error{
    color: #ff0015;
    text-align:center;
    padding-top:10px;
}


