body{
    padding:0;
    margin:0;
}
html, body{
    background-color:#302424;
    box-sizing:border-box;
    overflow-x:hidden;
}
.workout-page{
    height:100%;
    width:100%;
    color:white;
    display:flex;
    flex-direction: column;
}

.workout-date-container
{
    justify-content:center;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:1.75em;
    padding-bottom: 30px;
}
.workout-date-container h1{
    margin:40px 0px;
    font-weight:bold;
    padding-right:55px;
}

#workout-date-input{
    width:250px;
}
.workouts{
    display:flex;
    flex-direction:column;
}

.workout-line > label{
    font-size:1.5em;
    font-weight:bold;
}


.input-container{
    margin:20px;
    padding:5px;
    width:60px;
    border-radius:10px;
    color:white;
    background-color: transparent;
    border: 1px solid white;

}
#exercise-input{
    width:300px;
}

.add-button{
    /* width:140px; */
    margin-right:10px;
    color:rgb(142, 135, 135);
    border-radius:50%;
    color:white;
    width:30px;
    height:30px;
}

.add-button:hover{
    cursor:pointer;
}

.delete-button{
    margin-left:40px;
    color:red;
    border:none;
    height:30px;
    width:30px;
}
.delete-button:hover{
    cursor:pointer;
}

.submit-button{
    background-color:rgb(108, 108, 250);
    color:white;
    border:none;
    padding:7px;
    font-size:1.25em;

}



